/* Yleinen asettelu ja taustaväri */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
    color: #333;
    
}

/* Pääotsikko */
h1 {
    text-align: center;
    font-size: 2.5em;
    color: #2c3e50;
    margin-top: 50px;
    font-weight: bold;
}

/* Sisältö-alueen tyylit */
#vastaus {
    background-color: #fff;
    padding: 30px;
    margin: 30px auto;
    max-width: 800px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* H2-otsikko */
h2 {
    color: #2980b9;
    font-size: 1.8em;
    margin-bottom: 15px;
}

/* Kuvan tyyli */
img {
    max-width: 100%;
    border-radius: 8px;
    margin: 20px 0;
}

/* P-elementti (kuvaus ja opintojakso) */
p {
    font-size: 1.1em;
    line-height: 1.8;
    margin-bottom: 20px;
}

/* Listan tyylit */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ecf0f1;
    margin: 8px 0;
    padding: 10px;
    border-radius: 8px;
    font-size: 1.1em;
    transition: transform 0.3s, background-color 0.3s;
}

li:hover {
    background-color: #3498db;
    transform: translateY(-5px);
}

/* Tekniikoiden linkit */
a {
    text-decoration: none;
    color: #2980b9;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: #3498db;
}

/* Pienempi otsikko */
h3, h4 {
    color: #34495e;
    margin-top: 20px;
}

/* Navigointipalkki */
.navbar {
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; /* Varmistaa, että navigointipalkki on päällä */
    padding: 10px 20px;
    box-shadow: 0 4px 2px -2px gray;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
}

.navbar-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
}

.navbar-link:hover {
    color: #ffd700; /* Korostaa linkkiä, kun siihen menee hiiri */
}

/* Responsiivinen navigointi */
@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links {
        flex-direction: column;
        margin-top: 10px;
    }

    .navbar-link {
        margin-left: 0;
        margin-bottom: 10px;
    }
}
